<%: func ApiList(docs []scrape.DocDef, buffer *bytes.Buffer) %>

<%~ "index.html" %>

<%@ body { %>
<div class="stage-top">
    <form action="/" method="POST">
        <input type="text" name="query" placeholder="Search everywhere"/>
        <input type="submit"/>
    </form>
</div>
<div class="api-doc-list">
    <ul>
    <% for _, doc := range docs { %>
        <li><a  href='/doc/<%= doc.ID %>'>Api Documentation for <%= doc.RepoName%> ( <%= doc.Type.String()%> )</a></li>
    <% } %>
    </ul>
</div>

<% } %>